{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<section id="content">
  <section class="hbox stretch">
    <section>
      <section class="vbox">
        <section class="scrollable padder-lg w-f-md" id="bjax-target">
          <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin" ><i class="icon-refresh i-lg  inline" id="refresh"></i></a>
          <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
            <span class="bar1 a1 bg-primary lter"></span>
            <span class="bar2 a2 bg-info lt"></span>
            <span class="bar3 a3 bg-success"></span>
            <span class="bar4 a4 bg-warning dk"></span>
            <span class="bar5 a5 bg-danger dker"></span>
          </span></h2>
          <div class="row row-sm">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="item">
                <div class="pos-rlt">
                 <div class="top">
                    <span class="badge bg-info m-l-sm m-b-sm">03:20</span>
                  </div>
                  <div class="item-overlay opacity r r-2x bg-black">
                    <div class="center text-center m-t-n">
                      <a href="#" class="jp-play-me" data-mp3="/media/Awari.mp3" name="Awariii">
                        <i class="icon-control-play i-2x text"></i>
                        <i class="icon-control-pause i-2x text-active"></i>
                      </a>
                    </div>
                    <div class="bottom padder m-b-sm">
                      <a href="#" class="pull-right active" id="audio_1">
                        <i class="fa fa-heart-o"></i>
{#                        <i class="fa fa-heart text-active text-danger"></i>#}
                      </a>
                      <a href="#" data-toggle="class">
                        <i class="fa fa-plus-circle text"></i>
                        <i class="fa fa-check-circle text-active text-info"></i>
                      </a>
                      <span class="pull-right badge bg-white">12</span>

                    </div>
                  </div>
                  <a href="#"><img src="{% static 'images/p2.jpg' %}" alt="" class="r r-2x img-full"></a>
                </div>
                <div class="padder-v">
                  <a href="#" class="text-ellipsis">Teri Aankho ki ye Kahani</a>
                  <a href="#" class="text-ellipsis text-xs text-muted">Naveen</a>
                </div>
              </div>
            </div>
            <div class="clearfix visible-xs"></div>
          </div>

          <div class="row m-t-lg m-b-lg">
            <div class="col-sm-6">
              <div class="bg-primary wrapper-md r">
                <a href="#">
                  <span class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Login or Create account</span>
                  <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
                </a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="bg-black wrapper-md r">
                <a href="#">
                  <span class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> Download our app</span>
                  <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.</span>
                </a>
              </div>
            </div>
          </div>
        </section>

      </section>
    </section>
    <!-- side content -->
    <aside class="aside-md bg-light dk" id="sidebar">
      <section class="vbox animated fadeInRight">
        <section class="w-f-md scrollable hover">
          <h4 class="font-thin m-l-md m-t">Connected</h4>
          <ul class="list-group no-bg no-borders auto m-t-n-xxs">
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a1.png' %}" alt="..." class="img-circle">
                <i class="on b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Chris Fox</a></div>
                <small class="text-muted">New York</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a2.png' %}" alt="...">
                <i class="on b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Amanda Conlan</a></div>
                <small class="text-muted">France</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a3.png' %}" alt="...">
                <i class="busy b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Dan Doorack</a></div>
                <small class="text-muted">Hamburg</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a4.png' %}" alt="...">
                <i class="away b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Lauren Taylor</a></div>
                <small class="text-muted">London</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a5.png' %}" alt="..." class="img-circle">
                <i class="on b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Chris Fox</a></div>
                <small class="text-muted">Milan</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a6.png' %}" alt="...">
                <i class="on b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Amanda Conlan</a></div>
                <small class="text-muted">Copenhagen</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a7.png' %}" alt="...">
                <i class="busy b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Dan Doorack</a></div>
                <small class="text-muted">Barcelona</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a8.png' %}" alt="...">
                <i class="away b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Lauren Taylor</a></div>
                <small class="text-muted">Tokyo</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a9.png' %}" alt="..." class="img-circle">
                <i class="on b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Chris Fox</a></div>
                <small class="text-muted">UK</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a1.png' %}" alt="...">
                <i class="on b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Amanda Conlan</a></div>
                <small class="text-muted">Africa</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a2.png' %}" alt="...">
                <i class="busy b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Dan Doorack</a></div>
                <small class="text-muted">Paris</small>
              </div>
            </li>
            <li class="list-group-item">
              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
                <img src="{% static 'images/a3.png' %}" alt="...">
                <i class="away b-light right sm"></i>
              </span>
              <div class="clear">
                <div><a href="#">Lauren Taylor</a></div>
                <small class="text-muted">Brussels</small>
              </div>
            </li>
          </ul>
        </section>
{#        <footer class="footer footer-md bg-black">#}
{#          <form class="" role="search">#}
{#            <div class="form-group clearfix m-b-none">#}
{#              <div class="input-group m-t m-b">#}
{#                <span class="input-group-btn">#}
{#                  <button type="submit" class="btn btn-sm bg-empty text-muted btn-icon"><i class="fa fa-search"></i></button>#}
{#                </span>#}
{#                <input type="text" class="form-control input-sm text-white bg-empty b-b b-dark no-border" placeholder="Search members">#}
{#              </div>#}
{#            </div>#}
{#          </form>#}
{#        </footer>#}
      </section>
    </aside>
    <!-- / side content -->
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>
{% endblock %}