{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}


{% block customize_background %}
<body class=" bg-info dker">
{% endblock %}

{% block vbox %}
{% endblock %}


{% block content %}


<section id="content" class="m-t-lg wrapper-md animated fadeInUp">    
    <div class="container aside-xl">
      <a class="navbar-brand block" href="{% url 'home' %}"><span class="h1 font-bold">Make My Band</span></a>
      <section class="m-b-lg">
        <form action="" method="POST">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-group">
            <input id = "user_category" type="text" placeholder="I'm a looking for Guitarist" class="form-control rounded input-lg text-center no-border" name="search_key">
          </div>
          <div class="form-group">
             <input id = "location" type="text" placeholder="in Gurgaon" name="search_location" class="form-control rounded input-lg text-center no-border">
          </div>
          <button id = "search_submit" type="submit" class="btn btn-lg btn-success lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i>
              <span class="m-r-n-lg">Search</span>
          </button>
          
        </form>
      </section>
    </div>
  </section>



{% endblock %}

{% block custom_js %}

<script type="text/javascript">
  $(function() {

      var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];




    $("#user_category").autocomplete({
      source: "/logic/api/get-user-category/",
    });

    $("#location").autocomplete({
      source: "{% url 'get_location' %}",
    });
});

</script>

{% endblock %}