{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="scrollable">
    <ul id="tabs" class="nav nav-tabs">
        <li class={{ edit_profile }}><a href="/users/edit-profile">Edit Profile</a></li>
        <li class={{ change_password }}><a href="/users/change-password">Change Password</a></li>
    </ul>
    <div class="container">
        <div class="col-md-8">
            {% crispy form  %}
            <br><br><br><br><br><br>
            <div id='form-errors'>{{ form_errors }}</div>
        </div>

    </div>
    </div>

{% endblock content %}

{% block custom_js %}

{% endblock %}

