{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}


{% block customize_background %}
<body class=" bg-info dker">
{% endblock %}

{% block content %}


<section id="content" class="m-t-lg wrapper-md animated fadeInUp">    
    <div class="container aside-xl">
      <a class="navbar-brand block" href="{% url 'home' %}"><span class="h1 font-bold">Make My Band</span></a>
      <section class="m-b-lg">
        <header class="wrapper text-center">
          <strong style = "">Log Out</strong>
        </header>
        <form action="{% url 'account_logout' %}" method="POST">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-group navbar-brand block">
            <h3 class="text-center "><span style = "color:white">Are You sure you want to logout? </span></h3>
          </div>
         
          <button type="submit" class="btn btn-lg btn-danger lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Log Out</span></button>
          
        </form>
      </section>
    </div>
  </section>



{% endblock %}
