{% load static %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MakeMyBand - Musicians | Bands | Blogs</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<script src=" {% static 'js/jquery.min.js' %}"></script>
<script src=" {% static 'js/cufon-yui.js' %}"></script>
<script src=" {% static 'js/Akzidenz-Grotesk_BQ_500-Akzidenz-Grotesk_BQ_500-Akzidenz-Grotesk_BQ_italic_700.font.js' %}"></script>
<script src=" {% static 'js/FontSoupGerman_700.font.js' %}"></script>
<script src=" {% static 'js/Gotham_Rounded_Medium_350.font.js' %}"></script>
<script type="text/javascript">
	Cufon.replace('.logo h1', {fontFamily: 'FontSoupGerman'});
	Cufon.replace('.logo span', {fontFamily: 'Gotham Rounded Medium'});
	Cufon.replace('h2 strong', {fontFamily: 'Akzidenz-Grotesk BQ'});
	Cufon.replace('h2 span', {fontFamily: 'Akzidenz-Grotesk BQ'});
</script>

</head>
<body>
<div id="wrapper">
	<div class="main_content">
		<div class="uppersection">
			<div class="logo"><h1>mmb</h1><span>MakeMyBand</span></div>
			<h2>
                <strong>Coming Soon</strong> <br/>Click below for
                <br>
                <span><a href="https://docs.google.com/forms/d/1YI3kcqW26FoPy0qLZbKApNCX5tSjFV_09b040Rp--fY/viewform" class="myButton" target="_blank">
                    The Musical Connection</a>
                </span>
                <br/>
                <br/>
            </h2>
		</div>
		<ul class="social">
			<li><a href="https://www.facebook.com/makemyband.in/" target="_blank" class="fb">Facebook</a></li>
			<li><a href="#" class="tw">Twitter</a></li>
			<li><a href="#" class="google">Google+</a></li>
			<li><a href="#" class="insta">Instagram</a></li>
			<li><a href="#" class="skype">Skype</a></li>
			<li><a href="#" class="vimeo">Vimeo</a></li>
		</ul>
	</div>
</div>
</body>
</html>
